/* Top bar app name styling */
.navbar-brand {
    margin: auto;
    font-size: xx-large;
}

/* Container positioning */
.container {
    margin: auto;
    padding: 2rem;
    padding-top: 2rem;
}

/* Back button positioning */
.backButton {
    padding-top: 1rem;
    padding-left: 1rem;
}

/* Welcome blurb styling */
#welcome p {
    font-size: x-large;
    display: inline-block;
    text-align: center;
}

#appname {
    color: #28a745;
}

/* Homepage content styling */
#homesearch p {
    font-size: large;
    display: inline;
    line-height: 2;
}

#homerecycleguide p {
    display: inline;
    line-height: 2;
}

#homesearch {
    vertical-align: middle;
    margin: auto;
    text-align: center;
}

#homerecycleguide {
    vertical-align: middle;
    margin: auto;
    padding-top: 2rem;
    text-align: center;
}

/* Filter button styling */
#filterButton {
    float: right;
}

/* recycleGuideTemp, card-header are for the recycling guide accordion styling;
this is temp until we do something different for guidelines */
.recycleGuideTemp {
    margin-top: 0px;
    margin-bottom: 0px;
}

.card-header {
    background-color: rgba(0,0,0,.02);
}

/* For the Distance Slider */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.info {
    text-align: center;
    line-height: 1;
}
